footer {
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: 3;
  img {
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  :host{
    margin: 0;
  }
  footer {
    margin: 0;
  }
}
