section
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  .title{
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    h1{
      align-self: center;
      justify-self: center;
      font-size: 2em;
    }
    span{
      font-weight: 500;
      font-size:2em;
      margin: 0 1vw;
    }
  }

  .benefits
  {
    height: 50%;
    width: 90vw;
    display: flex;
    flex: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6vh;
  }
}
@media (min-width: 601px) and (max-width: 1000px) {
  section {
    height: 610px;
    .title{
      height: 20%;
      h1{

        font-size: 1.4em;
      }
      span{

        font-size:1.5em;

      }
    }
    .benefits{
      flex-wrap: wrap ;
      justify-content: center;
    }
  }
}


@media (max-width: 600px) {
  section {
    height: auto;
    .title{
      flex-direction: column;
      height: 200px;
      text-align: center;

      h1{

        margin: 0 10vw;
        margin-bottom:30px;
        font-size: 1.4em;
      }
      span{

        font-size:1.5em;

      }
    }
    .benefits{
      flex-wrap: wrap ;
      justify-content: center;
    }
  }
}

