<section>
  <div class="twitter-block-background"></div>
  <div class="twitter-block">

    <h1 class="title">
      <span class="spn-bold spn-secondary">
        350 +
      </span>
      <span class="spn-bold spn-color-light">
        Woloxers
      </span>
    </h1>
    <div class="twitter-link">

      <img src="assets/twitter.png" alt="Twitter">

      <span>@Wolox</span>
    </div>
    <div class="twitterRef">
      <a class="btn btn-wolox-transparent" href="https://twitter.com/wolox">Síguenos</a>
    </div>
  </div>
  <div class="ideas">
    <h1><span class="spn-light">Trabajamos para </span><span class="spn spn-color-light">convertir</span><span class="spn spn-secondary"> ideas </span><span class="spn-light">en productos.</span></h1>
  </div>
</section>
